<div class="newbody">
<div class='header-new'>
   <div class='header0'></div>
   <div class='header1'>
      <h1><%= image_tag 'icon_pen.png',size: "60" %>投稿ページ</h1>
   </div>
   <div class='header2'>
      <br><br><br><br>
      <%=link_to "ホームへ戻る", :controller => 'posts', :action => 'index' %>
   </div>
</div>

<br>
<br>
<h3>本日の目標は...<br><br>
<u><%= @user.destination %></u><br><br>
でした！<br>
解決できましたか？これから振り返っていきましょう！</h3>
<br>
<%= form_with model: @post, local: true do |f|%>
   <%= f.label :投稿内容 %>
   <br>
   <%= f.text_field :comment,size: 140 %>
   <br>
   <br>
   <%= f.label :"目標" %><br>
   <%=f.select :level, [["121以上(初心者・コースデビューを目指す)","121以上(初心者・コースデビューを目指す)"],["100切りゴルファーを目指す","100切りゴルファーを目指す"],["91-99(ドライバーショット、アプローチを強化したい","91-99(ドライバーショット、アプローチを強化したい"],["70代を目指す","70代を目指す"],["トップアマ、競技志向レベル","トップアマ、競技志向レベル"]] %>
   <br>
   <br>
   <%= f.label :"投稿のジャンル" %><br>
   <%=f.select :genre, [["クラブを購入したい","クラブを購入したい"],["スイング、フォームを綺麗にしたい","スイング、フォームを綺麗にしたい"],["ボールコントロールを改善したい(スライス、右に曲がる)","ボールコントロールを改善したい(スライス、右に曲がる)"],['ボールコントロールを改善したい(引っかける、左に曲がる)','ボールコントロールを改善したい(引っかける、左に曲がる)'],['ボールコントロールを改善したい(上に飛んでしまう)','ボールコントロールを改善したい(上に飛んでしまう)'],['飛距離を伸ばしたい','飛距離を伸ばしたい'],['パター','パター'],['アプローチ','アプローチ']] %>
   <br>
   <br>
   <br>
   <%= f.label :"画像を選択" %><br>
   <%=f.file_field :image %>
   <br>
   <br>
   <%= f.label :"動画を選択" %><br>
   <%= f.file_field :video %><br>
   <br>
   <br>
   <%= f.submit %>
   
<% end %>
</div>